body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
}

ul {
    margin: 0;
}


a {
  background-color: lightgrey ;
  color : #333333;
  padding: 10px;
  padding-top: 10px;
  text-decoration : none;
  margin-left: 30px;
  text-align : center;
  border-style: ridge;
  border-color: darkgray;
  border-width : 1px;
  font-family : Helvetica;
  float : left;
}

/* Box containing an Issue, responses to it and relevant buttons */
div.issue {
  margin: 30px;
  padding: 20px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

/* Show/Hide responses button */
button.visibility_toggle {
  border: none;
  background: none;
}

/* Box containing a response to an issue */
div.response {
  margin : 10px;
  padding: 5px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

/* Div that contains .response divs
Hidden by default, which hides all its children too until button pressed */
div.response_container {
  display: none;
}

/* Button to open response form below */
button.issue_reply_button {
  display: inline-flex;
}

/* Used for reply form in view_queries and  staff_account
Hidden by default, this is changed via JS when clicking a button*/
.response_form {
  display: none;
}

/* Use for Return to Homepage button in *thank_you.html */
a.thank_you_return {
  margin: auto;
}

/* Use for "Post an Issue" title in student_account */
.form_title {
  text-decoration: underline;
}

/* Used for the titles of issues */
.issue_title {
  font-weight: bold;
}

/* Status text for issues */
.issue_status {
  /* Currently hidden as feature is WIP */
  display: none;
}
p.unresolved_issue {
  color: red;
  font-weight: bold;
}
p.resolved_issue {
  color: green;
  font-weight: bold;
}

/* Top bar buttons/links */
.topbar_navigation_list {
  float: right;
  margin-right: 40px;
  list-style: none;
  display: inline-flex;
}
/* Not currently used, but reminder that it exists
.topbar_navigation
*/

/* Page bottom buttons/links */
.bottom_navigation_list {
  margin: auto;
  list-style: none;
  display: inline-flex;
}

/* Login and Register buttons on homepage when not logged in */
.homepage_link {
  float: right;
}

/* Logos on top bar */
#logo_left {
  float: left;
  margin-left: 80px;
}
#logo_right {
  float: right;
  margin-right: 80px;
}

/* Site created by... text */
#made_by_signature {
  margin-left : 80px
}