<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
    <style>
        input {
                width: 100%;
                padding: 12px 20px;
                 margin: 8px 0;
                box-sizing: border-box;
            }
        textarea{
            width : 100%;
            height : 300px;
        }
    </style>
	<title>
        Cafe - Contact Us
    </title>
</head
>
<body>
	<div>
		<p><img style = "float : left;" src="{% static 'images/logo.png' %}" width = 50  alt = "UofG Logo" /><img style="float : right ;" src="{% static 'images/logo.png' %}" width = 50  alt = "UofG Logo" /></p> 
		<p><h1 style = "text-align: center;">Central Anonymous Feedback Environment</h1>
			<h3 style = "text-align: center;">(CAFE)</h3></h></p>

	</div>
	<hr/>
    <h2>Contact Us</h2>
    <div>
        <form id = "contact_form" method="post" action="{% url 'contact' %}">
            {% csrf_token %}
            {{form.as_ul}}
            <br/><br/>
            <input type="submit" name="submit" value ="Submit" />
        </form>
    </div>
    <hr/>
	<div>
		Site created by Group 13B <a href ='contact/'>Contact us</a> <br/>
        <a href="{% url 'index' %}">To Homepage</a>
	</div>
</body>
</html>