{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Homepage
{% endblock %}

{% block body_block %}
	<article>
		<h2>About this Website</h2>
		<p>This website allows students to submit issues they have have throughout their degree to the appropriate univeristy staff, who are then able to submit replies to the issues which the individual students are able to have access to. In order to use our website, you must create an account and wait for our administration team to give you access to the appropriate pages.</p>
	</article>
	<a style = "float: right ; " href='/accounts/login/'> Log In </a>
	<a style = "float : right ; " href='/register'> Sign Up </a> 
{% endblock %} 