{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Homepage
{% endblock %}

{% block body_block %}
	<article>
		<h2>About this Website</h2>
		<p>This website allows students to submit issues they have have throughout their degree to the appropriate university staff, 
		who are then able to submit replies to the issues which the individual students are able to have access to.<br/>
		{% if not user.is_authenticated %}
		In order to use our website, you must create an account and wait for our administration team to give you access to the appropriate pages.<br/>
		{% elif user_info.is_staff or user_info.is_student %}
		Please use the buttons in the top right to navigate.
		{% else %}
		You have been registered but the administration team are yet to process this. Please wait while this is done, or use the "Contact Us"
		button linked at the bottom of the page if it is taking too long.
		{% endif %}
	</article>
	{% if not user.is_authenticated %}
	<a class="homepage_link" href='/accounts/login/'>Log In</a>
	<a class="homepage_link" href='/register'>Sign Up</a> 
	{% endif %}
{% endblock %} 