{% extends 'cafe/base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
    Staff Homepage
{% endblock %}

{% block body_block %}
    {% for issue_id, fields in issue.items %}
        <div class = "issue">
        <h3 class = "issue_title">{{fields.title}}</h3>
        <h4>{{fields.date}}</h4>
        <p class = "issue_categories">
        {% if fields.num_categories < 2 %}
            Category: {{fields.categories}}
        {% else %}
            Categories: {{fields.categories}}
        {% endif %}
        </p>
        <p class = "issue_id">ID#: {{issue_id}}</p>
        <p class = "issue_poster">
        Issue by: 
        {% if fields.anonymous == False %}
            {{fields.poster}}
        {% else %}
            Anonymous
        {% endif %}
        </p>
        <div class = "issue_status">
        Status: 
        {% if fields.status == 0 %}
            <p class="unresolved_issue">Unresolved</p>
        {% else%}
            <p class="resolved_issue">Resolved</p>
        {% endif %}
        </div>
        <hr>
        {{ fields.content }}
        <hr>
        {% if fields.responses %}
            <button class="visibility_toggle" id="toggle_{{issue_id}}_responses" issueId="{{issue_id}}">▷ Responses</button>
            <br/>
            <div class="response_container" id = "responses_to_{{ issue_id }}">
            {% for response in fields.responses %}
                <div class="response">
                {% if response.anonymous == True %}
                    <h5>Response by an anonymous student</h5>
                {% else %}
                    <h5>Response by {{ response.poster }}</h5>
                {% endif %}
                {{ response.date }}
                <hr>
                {{ response.content }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
        
        <button class = "issue_reply_button" issueId="{{issue_id}}">Reply to Issue</button>
        <form class="response_form" id="issue_{{issue_id}}_response_form" method="post" action="{% url 'staff_account' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="response_for_{{issue_id}}" value="Post Reply">
        </form>
        </div>
    {% endfor %}
{% endblock %}