{% extends 'cafe/base.html' %}
{% load crispy_forms_tags %}

{% block title_block %}
    View issues
{% endblock %}

{% block body_block %}
    {% for issue_id, fields in issue.items %}
        <div class="issue">
        <h3><strong>{{fields.title}}</strong></h3>
        <h4>{{fields.date}}</h4>
        ID#: {{issue_id}} <br/>
        {% if fields.status == 0 %}
            Status: <strong><font color="red">Unresolved</font></strong>
        {% else%}
            Status: <strong><font color="green">Resolved</font></strong>
        {% endif %}
        <hr>
        {{ fields.content }}
        <hr>
        {% if fields.responses %}
            <button class="visibility_toggle" id="toggle_{{issue_id}}_responses" issueId="{{issue_id}}">▷ Responses</button>
            <br/>
            <div class="response_container" id = "responses_to_{{ issue_id }}">
            {% for response in fields.responses %}
                <div class="response">
                <h5>Response by {{ response.poster }}</h5>
                {{ response.date }}
                <hr>
                {{ response.content }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
        
        <button class = "issue_reply_button" issueId="{{issue_id}}">Reply to Issue</button>
        <form class="response_form" id="issue_{{issue_id}}_response_form" method="post" action="{% url 'view_queries' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="response_for_{{issue_id}}" value="Post Reply">
        </form>
        </div>
    {% endfor %}
{% endblock %}